<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ii.inge.app.fernando.com.gestor_ventas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SeleccionCliente"
            android:label="Seleccionar Cliente">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.hacerPedido"
            android:label="Seleccionar Productos"

            >

        </activity>


        <activity
            android:name=".ui.listaPedidos"
            android:label="Lista de Pedidos"
            >

        </activity>
    </application>

</manifest>